<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsApplication1.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <WindowsApplication1.My.MySettings>
            <setting name="BlockChainGUI" serializeAs="String">
                <value />
            </setting>
            <setting name="YourBTCA" serializeAs="String">
                <value />
            </setting>
            <setting name="SendtoBTCA" serializeAs="String">
                <value />
            </setting>
            <setting name="YourMSC" serializeAs="String">
                <value />
            </setting>
            <setting name="YourTestMSC" serializeAs="String">
                <value />
            </setting>
            <setting name="YourBTC" serializeAs="String">
                <value />
            </setting>
        </WindowsApplication1.My.MySettings>
    </userSettings>
</configuration>